<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.daikuan.dao.CommonMapper">

    <resultMap id="UserBaseResultMap" type="com.daikuan.entity.User">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="addtime" jdbcType="TIMESTAMP" property="addtime"/>
        <result column="role" jdbcType="VARCHAR" property="role"/>
    </resultMap>


    <select id="selectForUser" resultMap="UserBaseResultMap">
        select id,name,password,role
        from user
        where name = #{name}
    </select>


    <select id="selectForLoanList" resultType="java.util.Map">
        select * from loan where 1=1
        <if test="status != null and status == '1' ">and status=${status}</if>
        <if test="label != null ">and label3=#{label}</if>
        order by updatetime desc,id desc
    </select>


    <select id="selectForLabelList" resultType="java.util.Map">
        select * from label order by id desc
    </select>

    <select id="selectForRelation" resultType="java.util.Map">
        select labelid from relation where loanid=#{loanid}
    </select>

    <select id="selectForSiteList" resultType="java.util.Map">
        select * from site order by id desc
    </select>


    <insert id="insertByLoanId">
        insert into relation (loanid,labelid)
        values
        <foreach collection="label" item="item" index="index" separator=",">
            (#{loanid},#{item})
        </foreach>

    </insert>


    <delete id="deleteByLoanid" parameterType="java.lang.Integer">
        delete from relation
        where loanid = #{loanid}
    </delete>


    <update id="updateByLoanUpdatetime" parameterType="java.lang.Integer">
        update loan set updatetime=now() where id=#{loanid}
    </update>


    <select id="selectForLabelInLoanId" resultType="java.util.Map">
        select c.id as id ,b.value as value from relation as a join label as b on (a.labelid=b.id) join loan as c on
        (a.loanid=c.id) where b.status=1 and c.id in
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>


    <select id="selectByMobileCount" resultType="java.lang.Integer">
        select count(*) from user where name=#{name}
    </select>


    <update id="updatePassword">
        update user set password=#{md5} where name=#{mobilePhone}
    </update>


    <select id="selectForUserNoAdmin" resultType="java.util.Map">
        select * from user where name!='admin' <if test="phone != null and phone !=''"> and name=#{phone}</if> order by id desc
    </select>


</mapper>