<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.daikuan.dao.CommonMapper">

    <resultMap id="UserBaseResultMap" type="com.daikuan.entity.User">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="addtime" jdbcType="TIMESTAMP" property="addtime"/>
        <result column="role" jdbcType="VARCHAR" property="role"/>
    </resultMap>



    <select id="selectForUser" resultMap="UserBaseResultMap">
        select name,password,role
        from user
        where name = #{name}
    </select>


    <select id="selectForLoanList" resultType="java.util.Map">
        select * from loan order by updatetime,id desc
    </select>


    <select id="selectForLabelList" resultType="java.util.Map">
        select * from label order by id desc
    </select>

    <select id="selectForRelation" resultType="java.util.Map">
        select labelid from relation where loanid=#{loanid}
    </select>




    <insert id="insertByLoanId" >
        insert into  relation (loanid,labelid)
        values
        <foreach collection="label" item="item" index="index" separator="," >
            (#{loanid},#{item})
        </foreach>

    </insert>



    <delete id="deleteByLoanid" parameterType="java.lang.Integer">
        delete from relation
        where loanid = #{loanid}
    </delete>








</mapper>